<div>
    <br>
    <div style="text-align: center;">
        <a href="https://www.facebook.com/cyfsn" target="_blank" style="font-size: xx-large;"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="https://www.instagram.com/canyoufeelsonow/" style="font-size: xx-large;" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
    </div>
    <br>
    <div class="lower-links">
        <a href="/admin">Admin Console</a>
        <br>
        <br>
        <a href="https://lds.org" target="_blank">Church Website</a>
        <br>
        <br>
        <a href="https://info.chrispricemusic.net">Powered by Chris Price Music</a>
    </div>
</div>