<html lang="en">
<head>
    <%- include("includes/head") %>
    <title>Echo of Me Family of Podcasts</title>
</head>
<body>
    <header>
        <%- include("includes/header") %>
    </header>
    <main>
        <div class="main-body">
            <div>
                <br>
                <h1 style="text-align: center;">Add Blog</h1>
                <br>
                <form action="/add-blog" method="POST" enctype="multipart/form-data">
                    <label for="docx">Upload Word File</label>
                    <input type="file" name="docx" accept=".docx" required>
                    <br>
                    <div style="text-align: center;">
                        <button type="submit">Create Blog</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <%- include("includes/footer") %>
    </footer>
</body>
</html>