<html lang="en">
<head>
    <%- include("includes/head") %>
    <title>Echo of Me Family of Podcasts</title>
</head>
<body>
    <header>
        <%- include("includes/header") %>
    </header>
    <main>
        <div class="main-body">
            <div style="padding: 8px;">
                <br>
                <h1 style="text-align: center;">Admin Console</h1>
                <br>
                <a href="/edit-transcripts"><button>Edit Transcripts</button></a>
                <br>
                <a href="/edit-blogs"><button>Edit Blogs</button></a>
                <br>
            </div>
        </div>
    </main>
    <footer>
        <%- include("includes/footer") %>
    </footer>
</body>
</html>