<html lang="en">
<head>
    <%- include("includes/head") %>
    <title>Echo of Me Family of Podcasts</title>
</head>
<body>
    <header>
        <%- include("includes/header") %>
    </header>
    <main>
        <div class="main-body">
            <div style="padding: 12px;">
                <div class="tag">
                    <h1>ECHO OF ME</h1>
                    <p style="padding: 12px 0;">Conversations with Missionaries<br>and Recent Converts of</p>
                    <div class="church">
                        <p class="church">THE CHURCH OF</p>
                        <p class="church" style="font-size: xx-large;">JESUS CHRIST</p>
                        <p class="church">OF LATTER-DAY SAINTS</p>
                    </div>
                </div>
                <br>
                <h1 style="text-align: center;">Podcasts</h1>
                <br>
                <div class="card" style="position: relative; min-height: 300px;">
                    <div style="display: grid; grid-template-columns: 2fr 1fr;">
                        <div style="padding-right: 16px;">
                            <h1>Can You Feel So Now?</h1>
                            <br>
                            <p>Conversations with returned missionaries, highlighting their spiritual experiences and asking/answering questions about coming closer to Christ. Returned missionaries talk about their wins, loses, and other experiences. These stories will inspire you, and give you new insights into the challenge of service a mission.</p>
                            <br>
                            <div >
                                <a href="https://redcircle.com/shows/b53457c8-930e-45c1-b31c-ba2089abba03" target="_blank"><button>Listen Now</button></a>
                            </div>
                        </div>
                        <div>
                            <img src="/img/can.jpg" alt="Called to the work image.">
                        </div>
                    </div>
                </div>

                <div class="card" style="position: relative; min-height: 300px;">
                    <div style="display: grid; grid-template-columns: 1fr 2fr;">
                        <div>
                            <img src="/img/called.jpg" alt="Called to the work image.">
                        </div>
                        <div style="padding-left: 16px;">
                            <h1>Called to the Work</h1>
                            <br>
                            <p>A podcast about those who are about to set out on their mission. Learn about the called missionaries, what they're excited about, what they're scared of, and how serving a mission will change their lives. We go in depth, with Jesus Christ as the cornerstone of the conversations.</p>
                            <br>
                            <div>
                                <a href="https://redcircle.com/shows/4f55f786-76b4-4cf4-a0eb-325802e6d029" target="_blank"><button>Listen Now</button></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="position: relative; min-height: 300px;">
                    <div style="display: grid; grid-template-columns: 2fr 1fr;">
                        <div style="padding-right: 16px;">
                            <h1>Steadfast in Christ</h1>
                            <br>
                            <p>We bring on new converts, learning about their background and why they chose to come closer to Christ. These are people who have come from different walks of life, giving us insight into their experience as a convert.</p>
                            <br>
                            <div>
                                <a href="https://redcircle.com/shows/c31dabee-6577-4873-9e2d-91f86971d8bf" target="_blank"><button>Listen Now</button></a>
                            </div>
                        </div>
                        <div>
                            <img src="/img/stead.png" alt="Called to the work image.">
                        </div>
                    </div>
                </div>
                <br>
                <h1 style="text-align: center;">Check out our Blog</h1>
                <br>
                <div style="text-align: center;">
                    <a href="/blog"><button>Blog</button></a>
                </div>
                <br>
                <h1 style="text-align: center;">Want to be on a podcast?</h1>
                <p style="padding: 12px 64px; text-align: center;">If you have experience you'd like to share with us click the link below and fill out the form!</p>
                <div style="text-align: center;">
                    <a href="/contact-us"><button>Contact Us</button></a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include("includes/footer") %>
    </footer>
</body>
</html>