<html lang="en">
<head>
    <%- include("includes/head") %>
    <title>Echo of Me Family of Podcasts</title>
</head>
<body>
    <header>
        <%- include("includes/header") %>
    </header>
    <main>
        <div class="main-body">
            <br>
            <h1 style="text-align: center;">Thank You!</h1>
            <p style="text-align: center;">We received your message and will get back to you ASAP!</p>
            <br>
            <br>
            <div style="text-align: center;">
                <a href="/"><button>Return Home</button></a>
            </div>
        </div>
    </main>
    <footer>
        <%- include("includes/footer") %>
    </footer>
</body>
</html>